<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Note</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./overview/style.css">
	<link rel="stylesheet" type="text/css" href="./css/dark.css">
</head>
<body>
	<div class="content">
		<div class="container1">
			<button class="btn btn-default" onclick="location.href='/newNote';" value="Create new note">Create new note</button>
			<button class="btn btn-default" onclick="location.href='/?switchTheme=true';">Style Switcher</button>
		</div>
		<div class="container2">
			<div class="sortButtons">
				<button class="btn btn-default {{#if orderByFinishDate}}active{{/if}}" onclick="location.href='/?orderBy=finishDate';">
					By finish Date {{#if orderByFinishDate}}{{#if orderAsc}}<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>{{else}}<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>{{/if}}{{/if}}
				</button>
				<button class="btn btn-default {{#if orderByCreatedDate}}active{{/if}}" onclick="location.href='/?orderBy=createdDate';">
					By created Date {{#if orderByCreatedDate}}{{#if orderAsc}}<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>{{else}}<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>{{/if}}{{/if}}
				</button>
				<button class="btn btn-default {{#if orderByImportance}}active{{/if}}" onclick="location.href='/?orderBy=importance';">
					By Importance {{#if orderByImportance}}{{#if orderAsc}}<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>{{else}}<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>{{/if}}{{/if}}
				</button>
			</div>
			<button class="btn btn-default {{#if filterFinished}}active{{/if}}" onclick="location.href='/?switchFilter=true';">Fertige verbergen</button>
		</div>
		<div id="noteList" class="noteList">
			{{#if notes}}
				{{#each notes}}
				<div class="noteElement">
					<div class="upperContainer">

						<div class="due">{{dueTo}}</div>

						<div class="importance">
							{{#times priority}}
							<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
							{{/times}}
						</div>

						<div class="titleContainer">
							<div class="title">{{title}}</div>
						</div>

					</div>
					<div class="lowerContainer">

						<div class="finished">
							<input type="checkbox" id="finished" {{#if state}}checked{{/if}} disabled> Finished
						</div>

						<div class="desc">
							<textarea disabled>{{description}}</textarea>
						</div>

						<div class="btnEdit">
							<button class="btn btn-default" onclick="location.href='./edit/{{_id}}';">Edit</button>
						</div>

					</div>
				</div>
				{{/each}}
			{{else}}
				<div class="bg-info info">Keine Todo gefunden</p>
			{{/if}}
		</div>
	</div>
</body>
</html>